<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>local.UserController.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>local.UserController.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrder</servlet-name>
        <servlet-class>local.OrderController.AddOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>local.ProfileController.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>local.ProfileController.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProfile</servlet-name>
        <servlet-class>local.ProfileController.ShowProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listseller</servlet-name>
        <servlet-class>local.ListController.ListSeller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSeller</servlet-name>
        <servlet-class>local.AccountController.AddSeller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSeller</servlet-name>
        <servlet-class>local.AccountController.DeleteSeller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrder</servlet-name>
        <url-pattern>/addorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProfile</servlet-name>
        <url-pattern>/showprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listseller</servlet-name>
        <url-pattern>/listseller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSeller</servlet-name>
        <url-pattern>/addseller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSeller</servlet-name>
        <url-pattern>/deleteseller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>local.ProductController.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>local.ProductController.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>local.ProductController.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductServlet</servlet-name>
        <servlet-class>local.ProductController.ListProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/updateproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/deleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductServlet</servlet-name>
        <url-pattern>/listproduct</url-pattern>
    </servlet-mapping>
</web-app>
